body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  color: #11999E;
  font-weight: normal;
  padding-bottom: 10px;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
.pro {
  text-decoration: underline;
}
.top_container{
  background-color: #ddf3f5;
  border-width: 0px 10px 10px 10px;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  position: relative;
  padding-top: 20px;
}
.top1cloud{
  position: absolute;
  right: 200px;
  top: 250px;
  width: 150px;
  height: 100px;

}
.top2cloud{
  position: absolute;
  right: 220px;
  top: 500px;
  width: 250px;
  height: 70px;

}
.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;
  width: 100px;
}
.top3cloud{
  position: absolute;
  right: 300px;
  top: 700px;
  width: 170px;
  height: 70px;
}
.bottomcloud {
  position: absolute;
  left: 200px;
  bottom: 210px;
  width: 150px;
  height: 70px;
}
.bottom1cloud {
  position: absolute;
  left: 200px;
  bottom: 360px;
  width: 100px;
}
.bottom2cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
  width: 100px;

}
.bottom3cloud {
  position: absolute;
  left: 270px;
  bottom: 50px;
  width: 200px;
  height: 70px;
}
.skill1 {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2 {

  width: 25%;
  float: right;
  margin-left: 30px;
}
.middle_container{
margin: 100px 0 100px 0;
}
.het{
  width: 30%;
  margin: auto;
}
.bottom_container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin : 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

hr {
  background-color: inherit;
  border-style: dotted none none none;
  height: 6px;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
  margin: 100px auto 100px auto;
}
.last
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
p{
  line-height: 2;
}
.hey{
  margin: auto;
  width: 40%;
}

.BUTTON_URB {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 35px;
   line-height: 35px;
   color: #FFFFFF;
   font-family: sans-serif;
   width: 275px;
   font-size: 37px;
   font-weight: 300;
   padding: 9px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.BUTTON_URB:hover {
   background: #389393;
   border: solid #337FED 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
